* {
  box-sizing: border-box;
  text-decoration: none !important;
  outline: none !important;
}

body {
  padding-top: 180px;
  background: #fff;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 1.618em;
  color: #424242;
}

a {
  color: #00aff0;
  transition: .25s;
  cursor: pointer;
}

hr {
  clear: both;
  height: 1px;
  margin: 15px 0;
  background: #ccc;
  border: none;
}

img {
  max-width: 100%;
}

select {
  cursor: pointer;
}

.latest-slider .primary h1,
.post-headline h1,
.widget-category-large h2,
.widget-category-medium h2,
.widget-category-small h2,
.widget-category-large .category-title,
.widget-category-medium .category-title,
.widget-category-small .category-title,
footer .footer-top h4 {
  font-family: "Raleway", sans-serif;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  line-height: 90px;
  background: #fff;
  z-index: 100;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, .25);
}

.main-nav {
  float: right;
}

.main-nav,
.main-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav>ul>li {
  position: relative;
  white-space: nowrap;
  float: left;
  padding: 0 15px;
}

.main-nav>ul>li:last-child {
  padding-right: 0;
}

.main-nav a {
  display: block;
  position: relative;
  color: #004289;
  transition: .25s;
  font-size: .9em;
  font-weight: 500;
}

.main-nav a:hover,
.main-nav .active>a,
.main-nav li:hover>a {
  color: #00aff0;
}

.main-nav .drop-down ul {
  display: block;
  position: absolute;
  left: 0;
  top: 70px;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  padding: 10px 0;
  background: #fff;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, .25);
  transition: ease all .25s;
  border-top-right-radius: 30px;
}

.main-nav .drop-down:hover>ul {
  opacity: 100%;
  visibility: visible;
}

.main-nav .drop-down li {
  min-width: 160px;
  position: relative;
  line-height: 1.618em;
}

.main-nav .drop-down ul a {
  padding: 10px 20px;
  color: #004289;
}

.main-nav .drop-down ul a:hover,
.main-nav .drop-down ul .active>a,
.main-nav .drop-down ul li:hover>a {
  color: #00aff0;
}

.main-nav .drop-down>a:after {
  content: "\f107";
  font-family: "Font Awesome 5 Free";
  font-weight: bold;
  padding-left: 10px;
}

.main-nav .drop-down .drop-down ul {
  top: 0;
  left: calc(100% - 30px);
}

.main-nav .drop-down .drop-down:hover>ul {
  opacity: 100%;
  top: 0;
  left: 100%;
}

.main-nav .drop-down .drop-down>a {
  padding-right: 35px;
}

.category-nav {
  line-height: 45px;
  background: #eee;
  font-size: .9em;
}

.category-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow-y: hidden;
  white-space: nowrap;
  cursor: ew-resize;
}

.category-nav ul::-webkit-scrollbar {
  height: 2px;
}

.category-nav ul::-webkit-scrollbar-thumb {
  background: #00aff0;
  border-radius: 5px;
}

.category-nav ul:hover {
  overflow-x: auto;
}

.category-nav li {
  display: inline-block;
  padding: 0 15px;
}

.category-nav li.active {
  background: #ddd;
  font-weight: bold;
}

.date {
  margin: 0;
  font-size: .75em;
  color: #888;
}

.latest-slider {
  margin-bottom: 50px;
}

.latest-slider .primary h1 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.8em;
  line-height: 1.2em;
  vertical-align: top;
}

.latest-slider .primary .news-item,
.latest-slider .secondary .news-item:not(:last-child),
.widget-category-large .news-item,
.widget-category-medium .news-item,
.widget-category-small .news-item {
  overflow: hidden;
  margin-bottom: 15px;
}

.latest-slider .secondary img,
.widget-category-large .small-feed .image,
.widget-category-small .image {
  float: left;
  clear: both;
  width: 40%;
  margin-right: 5%;
}

.latest-slider .secondary .title,
.widget-category-large .small-feed .title,
.widget-category-small .title {
  float: left;
  width: 55%;
}

.latest-slider .secondary h2,
.widget-category-large .small-feed h2 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
  font-size: 1em;
  font-weight: bold;
  line-height: 1.618em;
  vertical-align: top;
}

.widget-category-container {
  padding: 0;
}

.widget-category-large {
  margin: 0 0 30px;
  padding: 15px;
  background: #eee;
  border: 1px solid #ddd;
}

.widget-category-medium,
.widget-category-small {
  margin-bottom: 30px;
  padding: 0 15px;
}

.widget-category-large .category-title,
.widget-category-medium .category-title,
.widget-category-small .category-title {
  margin-bottom: 15px;
  padding-bottom: 5px;
  font-weight: bold;
  border-bottom: 1px solid #ccc;
}

.widget-category-large .primary .date,
.widget-category-medium .primary .date,
.widget-category-small .primary .date {
  margin: 5px 0;
}

.category-title a {
  display: block;
  float: right;
  color: #bbb;
}

.widget-category-large .image,
.widget-category-medium .image,
.widget-category-small .image {
  margin-bottom: 10px;
}

.widget-category-large h2,
.widget-category-medium h2,
.widget-category-small h2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
  font-size: 1.2em;
  font-weight: bold;
  line-height: 1.618em;
  vertical-align: top;
}

.widget-category-small h2 {
  -webkit-line-clamp: 2;
  font-size: 1em;
}

.widget-category-large .feed-excerpt,
.widget-category-medium .feed-excerpt {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: top;
  color: #424242;
}

.widget-category-medium .small-feed h2,
.widget-category-small .small-feed h2 {
  font-size: 1em;
}

article h1,
article h2,
article h3,
article h4,
article h5,
article h6 {
  margin: 30px 0 15px;
}

article h1 {
  font-size: 2em;
}

article h2 {
  font-size: 1.85em;
}

article h3 {
  font-size: 1.7em;
}

article h4 {
  font-size: 1.55em;
}

article h5 {
  font-size: 1.4em;
}

article h6 {
  font-size: 1.25em;
}

.post-header {
  margin: 0 0 30px;
}

.post-breadcrumb i {
  margin: 0 5px;
}

.post-headline h1 {
  margin: 15px 0 5px;
  line-height: 1.2em;
}

.post-header .date {
  margin: 15px 0 30px;
  font-size: .9em;
  line-height: 1.2em;
}

.date i {
  margin-right: 5px;
}

.date i:not(:first-child) {
  margin-left: 15px;
}

article .credits {
  margin: 50px 0 30px;
  padding: 15px;
  background: #eee;
  font-size: .9em;
  line-height: 1.618em;
}

article .credits span {
  display: inline-block;
  width: 80px;
}

.sharer {
  margin-bottom: 15px;
}

.comments {
  margin-bottom: 30px;
}

.sidebar-search input {
  float: left;
  width: calc(100% - 50px);
  margin: 0;
  padding: 0 15px;
  line-height: 40px;
  border: 1px solid #ccc;
}

.sidebar-search .btn-search {
  display: inline-block;
  width: 50px;
  background: #00aff0;
  color: #fff;
  text-align: center;
  line-height: 40px;
  border: 1px solid #ccc;
}

.sidebar-latest h4,
.sidebar-category h4 {
  margin: 15px 0;
  padding: 0 15px;
  background: #00aff0;
  color: #fff;
  font-size: 1em;
  font-weight: bold;
  line-height: 40px;
  border-top-right-radius: 40px;
}

.sidebar-latest,
.sidebar-category {
  margin: 30px 0;
}

.sidebar-latest .latest-item {
  padding: 10px 5px;
  border-top: 1px solid #ddd;
}

.sidebar-latest .featured,
.widget-category-medium .small-feed .image,
.widget-category-small .small-feed .image {
  display: inline-block;
  width: 75px;
  margin-right: 10px;
  vertical-align: top;
  overflow: hidden;
}

.sidebar-latest .featured img,
.widget-category-medium .small-feed img,
.widget-category-small .small-feed img {
  max-width: initial;
  height: 75px;
  margin-left: -50%;
}

.sidebar-latest .headline,
.widget-category-medium .small-feed .title,
.widget-category-small .small-feed .title {
  display: inline-block;
  width: calc(100% - 90px);
}

.sidebar-latest .headline .title,
.widget-category-large .small-feed h2,
.widget-category-medium .small-feed h2,
.widget-category-small .small-feed h2 {
  margin: 0;
}

.sidebar-latest .headline .title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;
}

.date i {
  margin-right: 5px;
}

.sidebar-ads {
  margin: 30px 0;
  text-align: center;
  line-height: 1em;
}

.sidebar-category ul {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 1em;
}

.sidebar-category li {
  padding: 10px 5px;
  border-top: 1px solid #ddd;
}

.sidebar-category i {
  margin-right: 5px;
  font-size: .75em;
}

footer {
  margin-top: 50px;
  background: #00428a;
  color: #eee;
  font-size: .9em;
}

footer .footer-top {
  background: #004a99;
  padding: 50px 0 0;
}

footer .footer-top .footer-info {
  margin-bottom: 50px;
}

footer .footer-top .social-links a {
  font-size: 1.2em;
  display: inline-block;
  background: #00aff0;
  color: #fff;
  padding: 8px 0;
  margin: 0 5px 5px 0;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: .25s;
  line-height: 1em;
}

footer .footer-top .social-links a:hover {
  background: #0067d5;
  color: #fff;
}

footer .footer-top h4 {
  color: #fff;
  position: relative;
  padding-bottom: 10px;
  font-weight: bold;
}

footer .footer-top .footer-links {
  margin-bottom: 50px;
}

footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

footer .footer-top .footer-links ul li {
  padding: 5px 0;
}

footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

footer .footer-top img.magazinc {
  width: 80%;
  height: auto;
  max-width: 180px;
}

footer .footer-top .license hr {
  margin-top: 30px;
  width: 30px;
  height: 2px;
  background: #fff;
  border: 0;
}

footer .footer-top .license p {
  display: inline-block;
  max-width: 260px;
  vertical-align: middle;
}

footer .footer-top .license img {
  margin-right: 15px;
}

footer a {
  color: #ecf5ff;
}

footer a:hover {
  color: #74b5fc;
}

footer .footer-top .footer-contact {
  margin-bottom: 50px;
}

footer .copyright {
  text-align: center;
  padding: 15px 0;
}

@media (min-width: 768px) {
  .widget-category-large {
    margin: 0 15px 30px;
  }
}

@media (min-width: 992px) {
  .latest-slider .primary hr,
  .widget-category-large hr,
  .widget-category-medium hr,
  .widget-category-small hr {
    display: none;
  }

  .latest-slider .primary .date,
  .widget-category-large .primary .date,
  .widget-category-medium .primary .date,
  .widget-category-small .primary .date {
    font-size: .9em;
  }
}

@media (min-width: 1200px) {
  .widget-category-large .feed-excerpt,
  .widget-category-medium .feed-excerpt {
    -webkit-line-clamp: 2;
  }
}

@media print {
  /* Print */
}